@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Courier", "melon","consolas";
  src: ("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
}
* {
  background-color: rgb(84,84,84);
}
.letter {
  font-size: 100%;
  color: #ffffff;
  display: inline;
  position: relative;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0);
  transition: position 2s ease-in-out, color 0.2s ease-in-out,
    background 2s transition;
}
.letter.correct {
  color: #20ee20;
  box-shadow: rgba(0, 238, 32,0.4);
  transition:background-color 5s transition;
}
.letter.incorrect {
  color: #ee0000;
  transform: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
#Typing {
  border: 0.1rem solid;
  border-color: #dfdfdf;
  width: 80%;
  font-size: 8vw;
}
#Typing::-webkit-scrollbar {
  display: none;
}
